<?xml version="1.1" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link
      rel="stylesheet"
      href="https://unpkg.com/blocks.css/dist/blocks.min.css"
      crossorigin="anonymous"
      />
    <link
      rel="stylesheet"
      href="/static/local.css"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
    <title>{{ page_title }}</title>
  </head>
  <body>
    <div class="navbar-wrapper">
      {% block navbar_contents %}
      <a href="/">
        <img src="/branding/profile_pic" alt="{{ profile_pic_alt }}" />
      </a>
      <a class="navbar-brand" href="/">{{ blog_title }}</a>
      {% include "nav_shared.html" %}
      {% endblock %}
    </div>
    {% block body %}
    {% endblock %}
  </body>
</html>
